*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color:bisque;
    color:black;
    margin: 0;
}

header{
    background-color: rgb(238, 233, 143);
    color: rgb(5, 136, 250);
    text-align: center;
    padding: 10px 0;
}

header h1{
    font-size: 40px;
}

main{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 20px 50px color(srgb red green blue);
}
section{
    margin-bottom: 30px;
}

section h2{
    font-size: 24px;
    margin-bottom: 15px;
}

ul,ol{
    margin-bottom: 15px;
}

.project{
    border-bottom: 1px solid color(srgb red green blue);

}
